body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box-header img{
  width: 38px;
  height:38px;
  margin-left:50px;
  margin-top:0;
}
header{
  position:fixed;
}
.box-search{
  background-color: #efefef;
  box-sizing: border-box;
  position: fixed;
  right:248px;
  top: 10px;
  height: 38px;
  width: 959px;
}
.first-list{
list-style: none;
position: fixed;
left:200px;
margin-top: 14px;
padding-left: 2px;
}
ul li{
display: inline;
}
.second-list li{
  margin:15px;
}
.box-search1{
  box-sizing: border-box;
  position: fixed;
  right:291px;
  top: 10px;
}
  .box-search2{
  box-sizing: border-box;
  position: fixed;
  right:0;
  top: 10px;
  height: 38px;
  width: 280px;
}
.icon-user, .icon-menu,.icon-bubble{
  font-size: 20px;
  color:#b5b5b5;
}
.line-silver{
  background-color: #b5b5b5;
  display: inline-block;
  position: fixed;
  top:68px;
  height:1px;
  width: 100%;
}
